<script>
  $(function() {
    $('.new-lesson-button').click(function() {
      var lessonUrl = ( $(event.target).data('lesson-url') );
      $('#newLessonForm').attr('action', lessonUrl);
    });

    $('.lessons').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        });
      }
    });
    $('.sections').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { section: { row_order_position: ui.item.index() } }
        });
      }
    });
  });
</script>

<!-- content -->
<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"><%= current_course.title %></h1>
  <% if current_course.image.present? %>
    <div class="col-12 text-center">
      <%= image_tag current_course.image, class: 'img-fluid course-image rounded' %>
    </div>
  <% end %>
  <div class="col-12 col-sm-6 offset-sm-6 d-sm-flex justify-content-sm-end flex-wrap">
    <%= link_to 'Preview As Student', course_path(current_course), class: 'btn btn-warning mb-2 col-12 col-sm-10' %>
    <button type="button" class="btn btn-primary col-12 col-sm-10" data-toggle="modal" data-target="#newSectionModal">
      Add a new section
    </button>
  </div>
  <ul class="sections m-md-4">
    <% current_course.sections.rank(:row_order).each do |section| %>
      <li data-update-url=<%= instructor_section_path(section)%>>

        <div class="header grab-cursor">
          <%= fa_icon "ellipsis-v" %>
          <%= section.title %>
          <button
            type="button"
            class="float-right btn btn-primary btn-sm new-lesson-button"
            data-toggle="modal"
            data-target="#newLessonModal"
            data-lesson-url="<%= instructor_section_lessons_path(section) %>">
              Add a new lesson
          </button>
          <span class="clearfix"></span>
        </div>

        <ul class="lessons d-sm-flex flex-sm-wrap justify-content-sm-end">
          <% section.lessons.rank(:row_order).each do |lesson| %>
            <li data-update-url=<%= instructor_lesson_path(lesson) %> class="col-12 col-sm-11 grab-cursor">
              <div class="d-flex justify-content-between align-items-center">
                <%= fa_icon "ellipsis-v" %>
                <div class="text-center">
                  <p>
                    <b><%= lesson.title %></b>
                  </p>
                  <p>
                    <%= lesson.subtitle %>
                  </p>
                </div>
                <span class="clearfix"></span>
              </div>
            </li>
          <% end %>
        </ul>
        <span class="clearfix"></span>
      </li>
    <% end %>
  </ul>
</div>

<!-- Add Section Modal -->
<div class="modal fade" id="newSectionModal" tabindex="-1" role="dialog" aria-labelledby="newSectionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="newSectionModalLabel"><i>Add a New Section</i></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @section, url: instructor_course_sections_path(current_course) do |f| %>
        <div class="modal-body">
          <%= f.input :title %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Add a section", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<!-- Add Lesson Modal -->
<div class="modal fade" id="newLessonModal" tabindex="-1" role="dialog" aria-labelledby="newLessonModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="newLessonModalLabel"><i>Add a New Lesson</i></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @lesson, url: '#', html: { id: 'newLessonForm' } do |f| %>
        <div class="modal-body">
          <%= f.input :title %>
          <%= f.input :subtitle %>
          <%= f.input :video %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Add a lesson", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
