<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"><%= current_course.title %></h1>
  <% if current_course.image.present? %>
    <div class="col-12 text-center">
      <%= image_tag current_course.image, class: 'img-fluid course-image rounded' %>
    </div>
  <% end %>
  <div class="col-12 d-inline-flex justify-content-center">
    <%= link_to 'Preview As Student...', course_path(current_course), class: 'btn btn-warning mr-2' %>
    <%= link_to 'Add a new section...', new_instructor_course_section_path(current_course), class: 'btn btn-primary' %>
  </div>

  <ul>
    <% current_course.sections.each do |section| %>
      <li>
        <%= section.title %>
        <%= link_to 'New Lesson', new_instructor_section_lesson_path(section), class: 'float-right btn btn-primary btn-sm' %>
        <ul>
          <% section.lessons.rank(:row_order).each do |lesson| %>
            <li>
              <b><%= lesson.title %></b>
              -
              <%= lesson.subtitle %>
            </li>
          <% end %>
        </ul>
        <span class="clearfix"></span>
        <br>
      </li>
    <% end %>
  </ul>
</div>