<br>
<br>
<div class="booyah-box col-lg-6 offset-lg-3 col-sm-10 offset-sm-1 col-12">
  <br>
  <h2 class="text-center">Forgot your password?</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
    </div>

    <div class="d-flex flex-row justify-content-between">
      <div class="justify-content-start">
        <%= f.button :submit, "Send me reset password instructions", class: "btn btn-outline-success justify-content-start" %>
      </div>
      <div class="justify-content-end">
        <%= render "devise/shared/links" %>
      </div>
    </div>
    <br>
  <% end %>
</div>
