<div class="booyah-box col-10 offset-1">
  <div class="col-12 text-center">
    <h1>
      <%= link_to current_lesson.section.course.title, course_path(current_lesson.section.course) %>
    </h1>
    <h2 class="skinny-title"><%= current_lesson.section.title %></h2>
  </div>
  <hr>
  <h2><%= current_lesson.title %></h2>
  <p class="pl-3">
    <%= current_lesson.subtitle %>
  </p>

  <div class="col-12">
    <% if current_lesson.previous_lesson.present? %>
      <%= link_to lesson_path(current_lesson.previous_lesson), class: "btn btn-default float-left" do %>
        <span class="fa fa-backward"></span>
        &nbsp; Previous Lesson
      <% end %>
    <% end %>

    <% if current_lesson.next_lesson.present? %>
      <%= link_to lesson_path(current_lesson.next_lesson), class: "btn btn-default float-right" do %>
        Next Lesson &nbsp;
        <span class="fa fa-forward"></span>
      <% end %>
    <% end %>
    <span class="clearfix"></span>
  </div>

  <% if current_lesson.video.present? %>
    <video id="my-video" class="col-12 my-1 video-js vjs-big-play-centered vjs-fluid" controls preload="auto" poster="<%= image_path('poster.png') %>" data-setup="{}">
      <source src="<%= current_lesson.video.to_s %>" type="video/mp4">
      <noscript>
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </noscript>
    </video>
  <% else %>
    <div class="col-12 text-center my-5">
      <p>
        There is no video available for this lesson.
      </p>
    </div>
  <% end %>
</div>
