<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"><%= current_course.title %></h1>
  <% if current_course.image.present? %>
    <div class="col-12 text-center">
      <%= image_tag current_course.image, class: 'img-fluid course-image rounded' %>
    </div>
  <% end %>
  
  <div class="row course-info">
    <div class="col-sm-4 col-12 text-center">
      <span class="badge badge-default">
        <%= number_to_currency current_course.cost %>
      </span>

      <% if current_user && current_user == current_course.user %>
        <br>
        <br>
        <%= link_to 'Administer', instructor_course_path(current_course), class: 'btn btn-danger btn-large' %>
      <% end %>
      <br>
      <br>
      <% if current_user.enrolled_in?(current_course) %>
        <h2 class="badge badge-info">You Are Enrolled!</h2>
      <% else %>
        <%= link_to 'Enroll', course_enrollments_path(current_course), class: 'btn btn-primary', method: :post %>        
      <% end %>
    </div>

    <div class="col-sm-8 col-12">
      <%= current_course.description %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <% current_course.sections.each do |section| %>
        <div class="section row">
          <h3 class= "col-12"><%= section.title %></h3>
          <% section.lessons.each do |lesson| %>
            <div class="lesson col-12 col-sm-6 d-flex align-items-center justify-content-center text-center">
              <%= link_to lesson_path(lesson) do %>
                <b><%= lesson.title %></b>
                <br>
                <%= lesson.subtitle %>
              <% end %>
            </div>
          <% end %>
          <span class="clearfix"></span>
        </div>
      <% end %>
    </div>
  </div>
</div>