<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"><%= current_course.title %></h1>
  <% if current_course.image.present? %>
    <div class="col-12 text-center">
      <%= image_tag current_course.image, class: 'img-fluid course-image rounded' %>
    </div>
  <% end %>

  <div class="row course-info">
    <div class="col-sm-4 col-12 text-center">
      <span class="badge badge-default">
        <% if current_course.free? %>
          Free Course!
        <% else %>
          <%= number_to_currency current_course.cost %>
        <% end %>
      </span>

      <% if current_user %>
        <% if current_user == current_course.user %>
          <br>
          <br>
          <%= link_to 'Administer', instructor_course_path(current_course), class: 'btn btn-danger btn-large' %>
        <% end %>
        <br>
        <br>
        <% if current_user.enrolled_in?(current_course) %>
          <h2 class="badge badge-info">You Are Enrolled!</h2>
        <% else %>
          <% if current_course.premium? %>
            <%= form_tag course_enrollments_path(current_course) do %>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-email="<%= current_user.email %>"
                      data-description="<%= current_course.title %>: <%= number_to_currency current_course.cost %>"
                      data-amount="<%= current_course.cost_in_cents %>"
                      data-locale="auto"></script>
            <% end %>
          <% else %>
            <%= link_to 'Enroll', course_enrollments_path(current_course), class: 'btn btn-primary', method: :post %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to 'Sign In to Enroll!', new_user_session_path, class: 'btn btn-success' %>
      <% end %>
      <span class="clearfix"></span>
    </div>

    <div class="col-sm-8 col-12">
      <%= current_course.description %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <% current_course.sections.rank(:row_order).each do |section| %>
        <div class="sections row">
          <h3 class= "col-12"><%= section.title %></h3>
          <% section.lessons.rank(:row_order).each do |lesson| %>
            <div class="lesson col-12 col-sm-6">
              <div class="d-flex justify-content-center align-items-center text-center lesson-details">
                <%= link_to lesson_path(lesson) do %>
                  <b><%= lesson.title %></b>
                  <br>
                  <%= lesson.subtitle %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
